*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.header {
    width: 100%;
    height: 120vh;
    background: #ffff;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background: #fff;
    background-image: url(../images/taylor-deas-melesh-Yg1Rlnpaaxw-unsplash\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}



.navbar {
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center; 
    background: #fff;
    
}

#logo {
    display: flex;
    align-items: center;
    width: 120px;
    cursor: pointer;
    padding-left: 8%;
    margin: 30px 0;
    color: #fff;
}



.menu-icon {
    width: 20px;
    cursor: pointer;
    display: none;
}

nav { 
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: grey;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bodyContacto {
    height: 50vh;
}

main {
height: 120vh;
}

#mainContacto {
    height: 80vh;
} 

.content {
    flex-basis: 40%;
    margin-top: 9%;
    margin-left: 9%;
    color: #fff;

}

.content h2 {
    font-size: 60px;
    font-weight: 300;
    color: white;
    font-family: 'Climate Crisis', cursive;
}

.content p {
    font-size: 24px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
}

button { 
    width: 140px;
    border: 0;
    border-radius: 20px;
    padding: 12px 10px;
    outline: none;
    color: white;
    background: linear-gradient(to right, #fb5283, #ff3527);
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

button:hover {
    width: 160px;
}

#boton {
    font-style: none;
    text-decoration: none;
    color: white;
 }


footer {
    display: flex;
    width: 100%;
    height: 30vh;
    background: black;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.footer {
    display: flex;
    width: 100%;
    height: 30vh;
    background: black;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
}


footer .social-links img {
height: 13px;
margin: 20px;
cursor: pointer;
filter: invert(100%);
}

footer .social-links {
    text-align: center;
    position: bottom;
}

@media only screen and (max-width:700px) {
    nav ul {
        width: 100%;
        background: linear-gradient(#fb5283, #ff3527);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2; 
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
     nav ul li a {
        color: #fff;
    }
     .menu-icon {
        display: block;
        cursor: pointer;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;

    }

    .content {
        flex-basis: 40%;
        position: absolute;
        top: 50%;
    }
    .content h2 {
        font-size: 40px;
    }
    
    .content p {
        font-size: 15px;
    }

}


.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container h2 {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 40px;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-3 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 23px;

}
.col-3 h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
}

.col-3 p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
}

.col-3 img {
    width: 100%;

}


.rating {
    font-size: 0.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

#formularioContacto {
    margin-top: 40px;
}

main section h2 {
    margin-top: 40px;
   display: flex;
   justify-content: center;
   font-family: 'Raleway', sans-serif;
}

